.container,
.row,
.h2 {
    text-align: center;
}
.color{
    background: #000;
}
.logo { 
    width: auto;
    height: auto;
    text-align:center;
    
  }
  
  .logo img {
    width: 250px;
    height: 70px;
    margin-bottom:30px;
    display:inline-block;
  } 


.login-container {
    margin-top: 2%;
    margin-bottom: 5%;
}

.login-form-1 {
    padding: 5%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-1 h3 {
    text-align: center;
    color: #333;
}

.login-form-2 {
    padding: 5%;
    background: #0b3d73;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
}

.login-form-2 h3 {
    text-align: center;
    color: rgb(255, 254, 254);
}

.login-container form {
    padding: 10%;
}

.btnSubmit {
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    border: none;
    cursor: pointer;
}

.login-form-1 .btnSubmit {
    font-weight: 600;
    color: rgb(0, 0, 0);
    background-color: #0062cc;
}

.login-form-2 .btnSubmit {
    font-weight: 600;
    color: #0062cc;
    background-color: rgb(255, 255, 255);
}

.login-form-2 .ForgetPwd {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
}

.login-form-1 .ForgetPwd {
    color: #0062cc;
    font-weight: 600;
    text-decoration: none;
}
